<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        {{>header}}

        <h2>
            im ali . im a javascript developer . i love working new tools...
        </h2>
        <button>More</button>
    </div>
</body>

</html>